*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body{
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    color:#ffff;
    line-height: 1.8;
    }
#container{
    margin:150px auto;
    max-width:400px;
    padding:20px;    
    }    
.form_warp{
     background:#993399;   
     padding:15px 20px;
    }       
.form_warp h1{
    text-align:center;
}    
.form_warp .form_group{
    margin-top:10px;
}
.form_group label{
    display:block;
}
.form_group input{
    width:100%;
    padding:8px;
    border:solid 1px #fff;
    border-radius:10px;
}
.form_groups .login{
    margin-top:15px;
    width:50%;
    margin-left:25%;
    padding:8px;
    border:1px solid #00e600;
    border-radius:10px;
    color:#fff;
    background:#00e600;
    font-size:15px;
}
.form_groups .login:hover{
    background:#00b300;
    border:1px solid #00b300;
}
#go{
    text-align:center;
    background:#fff;
    color:black;
}
#form-massege{
    background:#ff66cc;
    border:1px solid #ff66cc;
    color:red;
    display:none;
    font-size:12px;
    font-weight:bold;
    margin-bottom:10px;
    padding:10px 25px;
    max-width:250px;
    border-radius:10px;
}